@use "../../styles/partials/variables" as *;
@use "../../styles/partials/placeholders" as *;
@use "../../styles/partials/mixins" as *;

@keyframes rock {
  0% {
    transform: rotate(180deg) translateZ(0);
  }
  100% {
    transform: rotate(360deg) translateZ(0);
  }
}

.section {
  overflow: hidden;
  height: 100vh;
  @include desktop {
    height: 55vh;
  }

}

.login {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5rem;
  & img {
    animation: rock 2s linear alternate infinite;

    @include desktop {
      position: absolute;
      height: 14rem;
      right: 12rem;
      top: -2rem;
    }
  
  }
}
.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  padding: 0rem 1.6rem;
  &__title {
    @extend %logo-signup;
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  height: 10vh;
  margin: 2rem;

  @include tablet {
    height: 2vh;
  }

  &__title {
    @extend %header-signup;
    width: 80%;
  }

  &__text {
    @extend %subheader-desc;
    width: 80%;
  }
}
