@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// colors 

$background-main: #e6e5e0;
$background-secondary: #2f2c2c;

$main-card: #fbfcff;
$secondary-card-lightest:#f6f6f6;
$secondary-card-light: #f6f6f6;
$secondary-card-darkest: #f6f6f6;
$main-font: #000000;

$highlight-red: #ff503e;
$highlight-yellow: #ffcc00;

$font-light: #ffffff;
$font-secondary-light: #fbfcff;
$font-dark: #000000;

$button-grey: #6f6f6f;
$button-light: #fbfcff;
$button-dark: #505050;

//fonts
$bold: 700;
$light: 200;
$regular: 400;
$regular-anton: 300;

//breakpoints 

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//fonts
$header-main: 'Anton';
$navigation: 'Antonio';
$paragraph-main: 'Inter';
$paragraph-sub: 'Roboto';
$signup-logo: 'Anton';

