@use "../../styles/partials/variables" as *;
@use "../../styles/partials/placeholders" as *;
@use "../../styles/partials/mixins" as *;


.main-background__dark {
  margin-top: 6rem;
  height: 100vh;
  background-color: $background-secondary;
  display: flex;
  justify-content: center;
  position: relative;
}

.inbox {
  background-color: white;
  position: absolute;
  top: -4rem;
  width: 80%;
  height: 100%;
  border-radius: 2rem;
  padding: 2rem;

  @include tablet {
    height: 100%;
  }
}

.title__container {
  border-bottom: 1px black solid;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  &__title {
    @extend %nav-font;
  }

  &__section {
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  & input {
    background-color: rgb(231, 231, 231);
    border-radius: 2rem;
    border: none;
    height: 2.5rem;
  }

  & label {
    font-family: inter;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__buttons {
    display: flex;
    gap: 1.4rem;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  & .button {
    width: 40%;
    border-radius: 2rem;
    height: 100%;
    align-self: flex-end;
    @extend %nav-font;
    text-transform: uppercase;
    font-weight: 400;
    color: $font-secondary-light;
    border: none;
    padding: 1rem 2rem;

    @include tablet {
        width: 20%;
    }

    &__submit {
      background-color: white;
      color: $font-dark;
      border: 0.1rem solid black;
    }

    &__cancel {
      background-color: $button-dark;
    }

    &__submit:hover {
      background-color: $font-dark;
      color: white;
    }

    &__cancel:hover {
      background-color: $highlight-red;
      color: white;
    }
  }
}

.form-radio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio__selections {
    display: flex;
    gap: 1rem;
}

.radio__option {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
